extends layout


block content
  h1 New Message
  form(action="/new", method="post")
    div 
        label(for="username") Username:
        input(type="text", name="username")
    div 
        label(for="message")  Message:
        input(type="text", name="message")
    input(type="submit", value="Submit")